# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# eclipse-tractusx/tutorial-resources clone
tutorial-resources

# eclipse-edc/MinimumViableDataspace clone
MinimumViableDataspace

# eclipse-edc/DataDashboard clone
DataDashboard
